header
    nav
        a(href='/') Example App

article
    h1 Welcome!
    p
        !
            Example Meteor app making use of Angular with Blade, Coffeescript and Stylus.

    p(data-ng-view)
    p(data-ng-include="'included.blade'")
